* {
  box-sizing: border-box;
  font-family: 'Sacramento', cursive;

}

body {
  margin: 20px;
  padding: 0;
  background-image: url('https://wallpaperaccess.com/full/733839.jpg');
  color: #fff;
}

.app-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 30px 0px;
}

.title {
  font-size: 30px;
  text-align: center;
  color: #dfc6ff;
  animation: neon 1s ease-in-out infinite alternate;
}

/*-- Animation Keyframes --*/

@keyframes neon {
  from {
    text-shadow:
      0 0 6px rgba(202, 228, 225, 0.92),
      0 0 30px rgba(202, 228, 225, 0.34),
      0 0 12px rgba(242, 30, 90, 0.52),
      0 0 21px rgba(242, 30, 168, 0.92),
      0 0 34px rgba(242, 30, 79, 0.78),
      0 0 54px rgba(242, 30, 83, 0.92);
  }

  to {
    text-shadow:
      0 0 6px rgba(202, 228, 225, 0.98),
      0 0 30px rgba(202, 228, 225, 0.42),
      0 0 12px rgba(30, 132, 242, 0.58),
      0 0 22px rgba(30, 132, 242, 0.84),
      0 0 38px rgba(30, 132, 242, 0.88),
      0 0 60px rgba(30, 132, 242, 1);
  }
}

.players {
  font-size: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  padding: 0;
}

.players button {
  font-size: 15px;
  cursor: pointer;
  outline: none;
  padding: 5px;
  color: #fff;
  background-color: #ffa60078;
  border-radius: 5px;
}

.players li {
  gap: 15px;
  display: flex;
  align-items: center;
}

.players li input {
  width: 150px;
  color: #fff6a9;
  background-color: #ffa60078;
  font-size: 15px;
  border-radius: 10px;
  padding: 5px;
}

.players .player-name {
  width: 150px;
  color: #fff6a9;
  padding: 5px;
  border-radius: 10px;

}

.players .player-symbol {
  font-size: 30px;
  color: #dfc6ff;
  animation: neon 1s ease-in-out infinite alternate;
}

.players .active {
  text-shadow: 0 0 5px #ffa500, 0 0 15px #ffa500, 0 0 20px #ffa500, 0 0 40px #ffa500, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}

.boardgame-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-setting {
  font-size: 15px;
  display: flex;
  justify-content: center;
  color: #fff6a9;
  font-family: 'Sacramento', cursive;
  gap: 10px;
}

.board-size {
  color: #fff6a9;
}

.board-wrap {
  background-color: rgba(150, 30, 242, 0.239);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.square {
  width: 50px;
  height: 50px;
  font-size: 50px;
  background-color: #00000095;
  border: none;
  border-radius: 15px;
  float: left;
  font-weight: bold;
  line-height: 34px;
  margin: 5px;
  padding: 0;
  text-align: center;
  color: #dfc6ff;
}

.square.X {
  color: #dfc6ff;
  text-shadow: 0 0 6px rgba(202, 228, 225, 0.98),
    0 0 30px rgba(202, 228, 225, 0.42),
    0 0 12px rgba(30, 132, 242, 0.58),
    0 0 22px rgba(30, 132, 242, 0.84),
    0 0 38px rgba(30, 132, 242, 0.88),
    0 0 60px rgba(30, 132, 242, 1);
}

.square.O {
  color: #fee;
  text-shadow: 0 -40px 100px,
    0 0 2px,
    0 0 1em #ff4444,
    0 0 0.5em #ff4444,
    0 0 0.1em #ff4444,
    0 10px 3px #000;
}

ul.history {
  border: none;
  list-style: none;
}

.history li button {
  border-radius: 10px;
  background-color: #ffffff5f;
  width: 300px;
  height: 50px;
  color: #fff;
  margin: 3px;

}

.history li button:hover,
.history li button:focus {
  background-color: #221111b8;
  cursor: pointer;
  color: #ff7801;
}

.move-left-right {
  z-index: 1;
  position: relative;
  animation: slideLR 0.25s alternate linear;
}

@keyframes slideLR {
  from {
    left: -100px;
  }

  to {
    left: 0px;
  }
}

.game-over {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(40, 38, 23, 0.95);
  animation: pop-in 0.5s cubic-bezier(0.68, -0.55, 0.65, 0.52) forwards;
}

.game-over h2 {
  font-family: 'Caprasimo', cursive;
  text-align: center;
  color: #fcd256;
  margin: 0;
}

.game-over p {
  text-align: center;
  color: #e1dec7;
}

.game-over button {
  display: block;
  margin: 0 auto;
  background: none;
  border: 2px solid #fcd256;
  color: #fcd256;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s, color 0.2s;
  box-shadow: 0 0 8px rgba(255, 187, 0, 0.4);
}

.game-over button:hover {
  background: #fcd256;
  color: #3f3b00;
  transform: scale(1.1);
  box-shadow: 0 0 20px rgba(255, 187, 0, 0.8);
}

@keyframes pop-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  80% {
    transform: scale(1.1);
    opacity: 1;
  }

  100% {
    transform: scale(1);
  }
}